
.cart-header {
  margin-bottom: 50px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.cart-title {
  font-size: 32px;
  font-weight: 600;
}

.cart-top {
  width: calc(100% - 480px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.delete-all {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'EB Garamond';
  font-size: 1.8rem;
}

.delete-all .material-icons {
  font-size: 3rem;
  
  margin-right: 4px;
}

.cart-content {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 40px;
  width: 100%;
}





.cart-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 80px;
}

.cart-item {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid rgb(80, 80, 80); 
  position: relative;
}

.cart-item__img-container {
  display: flex;
  height: auto;
}

.cart-item__img-container img {
  width: 95px;
  height: 140px;
  margin-right: 24px;
}

.cart-item__right {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.cart-item__descr {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.cart-item__title {
  font-size: 2rem;
}

.cart-item__author {
  color: rgb(145, 145, 145);
  font-size: 1.8rem;
  padding-top: 6px;
}

.cart-item__weight {
  color: rgb(145, 145, 145);
  font-size: 1.6rem;
  padding-top: 6px;
}

.cart-item__counter {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 35px;
  border: 1px solid rgb(195, 195, 195);
}

.item-quantity__counter {
  max-width: 28px;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

/*input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}*/

.item-quantity__btn {
  max-width: 31px;
  height: auto;
  background-color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.item-price {
  align-items: flex-end;
  text-align: right;
}

.item-price__old {
  font-size: 1.4rem;
  text-decoration: line-through;
  line-height: 20px;
}

.item-price__new {
  font-size: 2rem;
  color: #eb1b3a;
}



.cart-item__btns {
  display: flex;
  position: absolute;
  right: 0;
  top: 160px;
  gap: 10px;
}

.cart-item__btns-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(247, 247, 247);
  padding: 5px 5px;
  min-width: 40px;
  height: auto;
}



.cart-sidebar {
  display: flex;
  background-color: #f1f4f5;
  padding: 20px;
  min-width: 320px;
  max-height: 210px;
  padding-top: 25px;
  
  position: sticky;
  top: 200px;
}

.cart-sidebar__top {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  width: 100%;
}

.info-item_title {
  display: flex;
}

.info-item__value {
  display: flex;
}

.top-info__item--disc .info-item__value {
  color: #eb1b3a;
}

.info-item__value.info-item__amount {
  font-size: 1.6rem;
}

.cart-sidebar__btn-container{
  display: flex;
  align-self:center;
  margin-top: 10px;
}

.checkout__btn {
  border: none;
  padding: 15px 80px;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  font-family: EB Garamond;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

.cart-container {
  max-width: 1400px;
  margin-bottom: 300px;
  position: relative;
}

.order__form {
  display: none;
  flex-direction: column;
   width: 800px;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: black;
  z-index: 3000;
}

.order__form-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order__input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name__input-label,
.phone__input-label {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.input__wrapper input {
  padding: 12px 16px;
  font-size: 1.6rem;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  color: #333;
  transition: box-shadow 0.2s ease;
}

.order__form-btn {
  display: flex;
  align-self: end;
}

.final__checkout-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
  font-family: EB Garamond;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 15px;
}