* {
    box-sizing: border-box;
}

/**, :after, :before
 {
    box-sizing: border-box;
}*/

:root {
    --header-color: #fff;
    --btn-color:  #fff; 
}

body {
    font-family: Montserrat;
    /*background-color: #000;*/
}

html {
    font-size: 62.5%;
  }

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}  

a {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header start */
.header {
    background-color: var(--header-color);
    margin-bottom: 300px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


.header-container {
   max-width: 1400px;
   padding: 10px 60px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo-cnt {
    display: flex;
    padding: 0;
    margin-right: 50px;
}
.logo {
    font-size: 4rem;
    text-decoration: none;
    color: #141414;
   
}

/* Поле поиска */
.header-middle {
   display: flex;
   width: 80%;
   margin-right: 10px;
}

.search-bar_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    max-height: 50px;
    overflow: hidden; 
    border-radius: 5px;

}

.search-bar {
    flex: 1;
    padding: 10px 12px;
    font-size: 16px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(240, 240, 240);
    padding-left: 20px;
}

.search-box {
    position: absolute;
    top: 8px;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.material-icons.search-icon {
    font-size: 23px; 
}

/* Навигация */
.nav {
    display: flex;
    text-align: center;
}

.nav_list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: 10px;
}

.nav-item {
    position: relative;
}
.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    color: #141414;
}

.material-icons {
    color: #141414;
    cursor: pointer;
    margin-bottom: 5px;
}

.search-icon {
    color: gray;
}

.cart-icon,
.fav-icon {
    font-size: 40px;
}

.cart-icon {
    position: relative;
}

.fav-icon {
    position: relative;;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: #333;
    color: #fff;
    padding: 8px 8px;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    left: -30%;
    transition: opacity 0.3s;
}

.cart-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.fav-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.favs_quantity,
.cart_quantity {
    display: none;
    background-color: rgb(252, 9, 9);
    border-radius: 10px;
    padding: 0px 5px;
    position: absolute;
    font-size: 14px;
}

.cart_quantity {
    top: -8px;
    right: 4px;
    color:#fff;
}

.favs_quantity {
    top: -7px;
    right: 17px;
    color:#fff;
}
/* Нижняя часть хедера */
.header-bottom__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-bottom__item:not(:last-child) {
    margin-right: 40px;
}

.header-bottom__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.header-bottom__link:hover {
    color: #FFD700;
}

/* header end */


/* product start */
.product-category {
    margin-bottom: 80px;
    font-size: 2.5rem;
}

.products {
    margin-bottom: 300px;
    position: relative;
}

.product-grid {
    display: flex;
    align-items: center;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    width: auto; /* Ширина слайда определяется содержимым */
    /*height: auto; /* Высота слайда определяется содержимым */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.product-card {
    width: 100%;
    max-width: 200px;
    min-height: 400px;
    max-height: 500px;
    background-color: #fff;
    padding: 15px;
    transition: box-shadow 0.3s;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.product-card__img-container {
    max-width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.product-card__img {
    width: 100%;
    height: 280px;
    margin-bottom: 10px;
}

.product-card__content {
    flex-grow: 1; /* Растягивает контент на оставшееся пространство */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

.product-price__old {
    display: block;
    font-size: 1.6rem;
    line-height: 18px;
    text-decoration: line-through;
}

.product-price__new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.product-price__discount {
    background-color: #eb1b3a;
    color: white;
    align-items: center;
    padding: 0px 6px;
    border-radius: 20px;
}

.product-info__title {
    margin-bottom: 4px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    max-height: 48px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.product-info__author {
    margin-bottom: 20px;
    color: rgb(146, 145, 145);
    font-size: 1.3rem;
    max-height: 20px; /* Ограничение для автора */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.product-card__btns {
    display: flex;
    align-items: center;
}




.favorite-btn {
    background-color: #ffffff;
    border: none;
    
}

.favorite-icons {
    color: #e4e4e4;
}

.favorite-icons_active {
    color:rgb(250, 161, 176);
}

.buy-btn {
    border: 1px solid black;
    border-radius: 4px;
    padding: 12px 20px;
    background-color: var(--btn-color);
    color: #141414;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: 2px;
}

.js-add-to-cart {
    transition: all 0.3s ease;
}

.js-add-to-cart.added-to-cart {
    background-color: #000;
    color: white;
    cursor: not-allowed;
  }


/* product end */

.swiper-button-prev,
.swiper-button-next {
    color: #000; 
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 50%; 
    width: 50px;
    height: 50px;
    position: absolute; /* Добавляем позиционирование */
    top: 50%; /* По центру по вертикали */
    transform: translateY(-50%); /* Центрируем по вертикали */
    border-radius: 0;
}

.swiper-button-prev {
     left: 0;
}

.swiper-button-next {
    right: 0; 
}


.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 100px;
}


.swiper-slide {
    display: flex;
    justify-content: center;  
}




/* footer */
.footer {
    padding-top: 50px;
    color: #141414;
    background-color: var(--header-color);
    padding-bottom: 50px;
  }
  
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 52px;
    border-bottom: 1px solid #6d7175 ;
  }
  
  .footer-contacts-item {
    margin-right: 120px;
  }
  
  .footer-contacts-text {
    display: block;
    margin-bottom: 8px;
    font-size: 2rem;
    line-height: 40px;
  }
  
  .footer-contacts-link {
    display: inline-block;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 40px;
    color: #141414;
    text-decoration: none;
  }

  .footer-middle {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 70px;  
  }
  
  .footer-title {
    margin: 0;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 15px;
    font-size: 2rem;
  }
  
  .footer-link {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 40px;
    color: #141414;
    text-decoration: none;
  }
  
  .footer-mail {
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 700;
    color: #141414;
    font-size: 2.4rem;
    text-decoration: none;
  }
  
/* footer */