
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
 
  .header-container {
    flex-wrap: wrap; /* Элементы обтекают друг друга */
    align-items: center; /* Выровнять элементы по центру */
    margin: 0 auto;
  }

  .logo-cnt {
    text-align: left;
    margin-right: 20px;
  }

  .header-middle {
    order: 3; /* Переместить блок с поиском вниз */
    width: 100%; /* Растянуть на всю ширину */
    margin-top: 16px; /* Добавить отступ сверху */
    margin-right: 0;
  }


  .logo {
    font-size: 3rem;
}

  .nav-link_title {
    display: none;
  }

  .material-icons {
    font-size: 3.5rem;
}

  .nav-item:not(:last-child) {
    margin-right: 20px;
}

.search-bar_container {
  margin: 0 auto;
}

.search-bar {
  font-size: 18px;
}

.search-box {
  line-height: 70px;
}

.material-icons.search-icon {
  font-size: 30px;
}

.footer-middle {
  padding-top: 60px;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.footer-contacts-item {
  margin-right: 90px;
}

.footer-mail {
  font-size: 2rem;
}

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

  .header {
    margin-bottom: 100px;
  }

  .nav-link_title {
    display: none;
  }

  .material-icons {
    font-size: 3rem;
}

  .nav-item:not(:last-child) {
    margin-right: 10px;
}

.search-bar_container {
  margin: 0 auto;
}

.products {
  margin-bottom: 100px;
}

.why-us {
  margin-bottom: 200px;
}

.footer-contacts-link {
  font-size: 14px;
}

.footer-contacts-item {
    margin-bottom: 30px;
}

  .footer-middle {
    padding-top: 60px;
    grid-template-columns: 1fr;
    gap: 40px;
}


}

@media (max-width: 340px) {

  .logo {
    font-size: 3rem;
}

.logo-cnt {
  margin-right: 1px;
}
  .nav-link_title {
    display: none;
  }

  .material-icons {
    font-size: 3rem;
}

  .nav-item:not(:last-child) {
    margin-right: 40px;
}

.search-bar_container {
  margin: 0 auto;
}
}

